@mixin content_dark {
  .content {
    .post {
      .tags {
        .tag {
          background-color: $alt-bg-color-dark;

          a {
            color: $fg-color-dark;
          }

          a:active {
            color: $fg-color-dark;
          }
        }
      }
    }

    .list {
      ul {
        li {
          .title {
            color: $fg-color-dark;

            &:hover,
            &:focus {
              color: $link-color-dark;
            }
          }
        }
      }
    }

    .centered {
      .about {
        ul {
          li {
            a.labeled-icon {
              display: flex;
              flex-direction: column;
              gap: 6px;
              text-decoration: none;

              span {
                position: relative;
                top: -15%;
                opacity: 0%;
                transition: opacity 0.25s, top 0.25s;
              }

              &:hover,
              &:focus {
                span {
                  opacity: 100%;
                  top: 0%;
                }
              }
            }

            a {
              color: $fg-color-dark;

              &:hover,
              &:focus {
                color: $link-color-dark;
              }
            }
          }
        }
      }
    }
  }
}

body.colorscheme-dark {
  @include content_dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include content_dark();
  }
}